/* Section Styling */
.services-middle-section {
    background-color: white;
    width: 100%;
    /* border-top: 1px solid rgb(200,200,200); */
    box-sizing: border-box;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .services-header {
    margin-top: 70px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 300px;
  }

  .services-middle-header {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5d5d5d;
    margin-bottom: 35px;
  }

  .services-header p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    color: #666;
    text-align: justify;
    max-width: 800px;
    margin-bottom: 15px;
  }


  /* Grid Styling */
  /* Services Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px;
  margin-top: 20px;
}

/* Service Box */
.service-box {
  display: flex;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  align-items: center;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.service-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}


/* Icon Container */
.icon-container {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f7f7f7; */
  border-radius: 10px;
  height: 100%;
}

/* Icon Styling */
.icon-container svg {
  font-size: 50px; /* Adjust icon size */
}

/* Content Container */
.content-container {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

/* Title (h3) */
.content-container h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #5d5d5d;
  margin-bottom: 10px;
}

/* Paragraph (p) */
.content-container p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  margin-bottom: 10px; /* Space below the paragraph */
}

/* Unordered List (ul) */
.content-container ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px; /* Indent list items */
}

/* List Items (li) */
.content-container ul li {
  font-size: 16px;
  color: #666;
  line-height: 1.6; /* Space between list items */
}

  /* Responsive Adjustments */
  @media (max-width: 1024px) {
    .services-grid {
      grid-template-columns: 1fr;
    }

    .service-image {
      height: 150px;
    }
  }

  @media (max-width: 768px) {
    .services-header {
      padding: 0 1rem;
    }

    .services-grid {
      padding: 0 1rem;
    }
  }
