.moviesection {
  background-color: rgb(250, 250, 250);
  padding: 50px 0;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  gap: 20px; /* Adds spacing between title and video */
}

.movie-title {
  font-size: 28px;
  font-weight: 700;
  color: #3659c0;
  /* color: #5d5d5d; */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.movie-video {
  width: 100%;
  max-width: 1200px; /* Restricts the video container width */
  aspect-ratio: 16 / 9; /* Maintains 16:9 aspect ratio */
  position: relative;
  background-color: #000;
  border-radius: 3px; /* Optional: Adds rounded corners */
  overflow: hidden; /* Ensures no overflow */
}

.movie-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
