/* General styling for content container */
.intro-about-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
  }

  /* Intro About Box */
  .intro-about-box {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    box-sizing: border-box;
  }

  /* Header Styling */
  .intro-about-header {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5d5d5d;
    margin-bottom: 35px;
  }

  /* Paragraph Styling */
  .intro-about-text {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    color: #666;
    text-align: justify;
    max-width: 800px;
    margin-bottom: 15px;

  }

  @media (max-width: 768px) {
    .intro-about-content {
      max-width: 90%;
    }

    .intro-about-box {
      text-align: center;
    }

    .intro-about-header {
      font-size: 36px;
    }

    .intro-about-text {
      font-size: 16px;
      text-align: justify;
      max-width: 100%;
    }
  }

  /* 480px (Small Phones) */
  @media (max-width: 480px) {
    .intro-about-content {
      max-width: 95%;
    }


    .intro-about-header {
      font-size: 28px;
    }

    .intro-about-text {
      font-size: 14px;
      padding: 15px;

    }
  }

  /* 320px (Smallest Screens) */
  @media (max-width: 320px) {
    .intro-about-content {
      max-width: 100%;
    }

    .intro-about-header {
      font-size: 24px;
    }

    .intro-about-text {
      font-size: 12px;
    }
  }
