.explore-more-section {
  background-color: white;
  display: flex; /* Enables Flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
  box-sizing: border-box;
}

  .explore-more-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #525252;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
  }

  .explore-more-section p {
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: #222;
  }

  .button-group button {
    margin: 0 0.5rem;
    padding: 12px 24px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3659c0;
    color:white;
    padding: 12px 24px;
    font-size: 17px;
    font-weight: 500;
  }

  .button-group button:hover {
    background-color: white;
    color: rgb(62,62,62);
    font-weight: 550;
  }
