/* Hero Section */
.hero-investors {
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;    /* fallback minimum height */
    height: 80vh;
    width: 100%;
    background-image: url('./Images/Investors/1.jpg');
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-investors::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #353535ad;
    z-index: 1;
  }

/* Hero Container */
.hero-investors-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    max-width: 1350px;
}

/* Hero Title */
.hero-investors-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
}

.hero-investors-title h1 {
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 1.2px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    z-index: 2;
}

/* Hero Text */
.hero-investors-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    height: 500px;
    padding: 1rem;
}

.hero-investors-text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.9;
    margin: 0 0 1rem;
    padding: 0;
    color: #525252;
    /* color: white; */
    z-index: 2;
}

/* Divider Between Paragraphs */
.divider-dark {
    width: 100%;
    height: 1px;
    background-color: #525252;
    margin: 20px 0;
    z-index: 2;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-investors-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-investors-title,
    .hero-investors-text {
        height: auto;
    }

    .hero-investors-title h1 {
        font-size: 28px;
    }

    .hero-investors-text p {
        font-size: 16px;
    }
}
