.quick-facts-section {
  padding: 3rem 0;
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  box-sizing: border-box;
  /* border-bottom: .1px solid #525252; */
}

.quick-facts {
  max-width: 1350px;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  margin-top: 30px;
}

.quick-section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5d5d5d;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

.image-container-quick {
    width: 1350px;
    height: 600px;
    background-image: url('/Images/2.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.counters-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 2rem;
  text-align: center;
}

.counter {
  flex: 1 1 200px;
  text-align: center;
}

.counter-number {
  font-size: 95px;
  font-weight: bold;
  color: #3659c0;
  margin: 20px 0;
}

.counter-label {
  font-size: 17px;
  color: #525252;
  margin: 0;
}

/* Info Container */
.info-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
  max-width: 1500px;
  margin: 0 auto;
}


.value-proposition-box {
  gap: 20px;
  height: 350px;
  padding: 20px;
  display: flex;
  background: #fff;
  border-radius: 3px;
  align-items: center;
  /* border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.value-proposition-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.val-proposition-icon-container {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.val-proposition-icon-container svg {
  height: 60px;
  width: auto;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container h3 {
  font-size: 20px;
  font-weight: 700;
  color: #5d5d5d;
  margin: 0;
  margin-bottom: 10px;
}

.content-container ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
}

.content-container ul li {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .info-container {
    grid-template-columns: 1fr 1fr;
  }
}
