
  .hero {
    text-align: center;
    background: #f8f8f8;
    padding: 60px 20px;
    margin-bottom: 40px;
  }

  .hero h1 {
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero p {
    max-width: 700px;
    margin: 0 auto 30px auto;
    font-size: 1.1rem;
    color: var(--gray-dark);
  }

  .img-rounded {
    border-radius: var(--img-radius);
  }
