/* Contact Section */
.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.contact-section {
  background-color: rgb(250, 250, 250);
  padding: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 90%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

/* Contact Left */
.contact-left {
  background-color: #3659c0;
  color: white;
  padding: 40px;
  border-radius: 10px;
  flex: 1;
}

.contact-title {
  font-size:30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: justify;
  margin-bottom: 30px;
}

.contact-info p {
  margin: 10px 0;
}

.contact-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.contact-role {
  font-size: 1rem;
  color: #d1d9e6;
}

.contact-phone,
.contact-email,
.contact-address {
  font-size: 1rem;
  color: #eaeaea;
}

/* Contact Right */
.contact-right {
  flex: 1;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.form-input:focus {
  border-color: #3659c0;
  outline: none;
  box-shadow: 0 0 5px rgba(54, 89, 192, 0.5);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.form-button {
  padding: 15px 25px;
  background-color: #3659c0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-button:hover {
  background-color: #2c4da6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
