.value-proposition-section {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: whitesmoke;
  height: 100vh;
}

.box-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.section-header {
  background-color: whitesmoke;
  padding:0;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
}

.section-header h2{
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  color:#525252;
  text-transform: uppercase;
  padding: 0;
}

.left-box,
.right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

.droplet {
  max-height: 350px;
  max-width: 100%;
}

.left-box {
  background-color: whitesmoke;
  /* border: 1px dotted #222; */
  /* background: linear-gradient(100deg, #1B8632, #219D3C); */
  /* background: linear-gradient(180deg, #3659C0, #2D4BA2); */
}

.left-box h3 {
  text-align: left;
  max-width: 450px;
  width:100%;
  margin: 0;
  margin-bottom: 1rem;
  color: #525252;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.right-box {
  background-color: whitesmoke;
  /* width: 200px; */
  padding: 0;
  margin: 0;
}

/* .right-box iframe {
  display: block;
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: none;
} */


.left-box p,
.right-box p {
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
  max-width: 450px;
  margin: 0 0 20px 0;
  color:#525252;
}


.right-box svg {
  width: 100%;
  height: auto;
  display: block;
  /* transform: scale(1.5);  */
}

@media (max-width: 768px) {
  .value-proposition-section {
    flex-direction: column;
    height: auto; /* Allow content height on smaller screens */
  }

  .left-box,
  .right-box {
    flex: none;
    width: 100%;
    text-align: left; /* Ensure left alignment on smaller screens */
    align-items: flex-start; /* Maintain left alignment */
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
