/* Navigation Header */
.navigation-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 70px;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.navigation-header.transparent {
  background-color: transparent;
  color: white;
}

.navigation-header.solid {
  background-color: #3659c0;
  ; /* Blue for other pages */
  color: white; /* White text for contrast */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Navigation Container */
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  height: 40px;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: 100%; /* Ensure the container's height is sufficient for centering */
}

.logo-image {
  margin-top: 5px;
  height: 35px;
  width: auto;
}


/* Navigation Links Section */
.nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 35px;
}

.nav-links ul {
  display: flex;
  gap: 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-weight: 200;
  font-size: 15px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navigation-header.transparent .nav-links a {
  color: white;
}

.navigation-header.solid .nav-links a {
  color: white;
}

.nav-links a:hover,
.nav-links a.active {
  color: #f0f0f0; /* Subtle hover effect */
  font-weight: 410;
}



/* Profile Button Section */
.profile-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 3.25px;
}

.profile-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navigation-header.transparent .profile-icon-button {
  color: white;
}

.navigation-header.solid .profile-icon-button {
  color: white;
}

.profile-icon-button:hover {
  color: #f0f0f0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .nav-links ul {
    gap: 15px;
  }

  .logo-image {
    height: 30px;
  }

  .navigation-container {
    padding: 0 10px;
  }
}
