

/* Navigation Header */
.navigation-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  height: 70px;
  transition: background-color 0.3s ease, height 0.3s ease;
  /* border-radius: 8px; */
}

.navigation-header.transparent {
  background-color: transparent;
  color: white;
}

.navigation-header.solid {
  background-color: #3659c0;
  background-color: transparent;
  color:white;
  /* border-bottom: 1px solid  white; */
}

/* Navigation Container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Container */
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  /* padding: 0 20px; */
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: visible;
}


/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo-image {
  margin-top: 5px;
  height: 35px;
  width: auto;
}

/* Navigation Links Section */
.nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 35px;
}

.nav-links ul {
  display: flex;
  gap: 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-weight: 200;
  font-size: 15px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navigation-header.transparent .nav-links a {
  color: white;
}

.navigation-header.solid .nav-links a {
  color: white;
}

.nav-links a:hover,
.nav-links a.active {
  color: #f0f0f0;
  font-weight: 410;
}

/* Specific Styling for Services Page */
.navigation-header.services-active {
  color: white; /* Change font color */
}

.navigation-header.services-active .nav-links a {
  color: white;
}

.navigation-header.services-active .nav-links a.active {
  font-weight: bold;
}

.navigation-header.services-active .profile-button {
  color: white; /* Update profile button color */
}

/* Profile Button Section */
.profile-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.profile-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
}



.navigation-header.transparent .profile-icon-button {
  color: white;
}

.navigation-header.solid .profile-icon-button {
  color: white;
}

.profile-icon-button:hover {
  color: #f0f0f0;
}

/* Investors-specific styles */
.navigation-header.investors-active .nav-links a {
  color: white; /* Font color for navigation links */
}

.navigation-header.investors-active .profile-button .profile-icon-button svg {
  color: white; /* Font color for profile button icon */
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .nav-links ul {
    gap: 15px;
  }

  .logo-image {
    height: 30px;
  }

  .navigation-container {
    padding: 0 10px;
  }
}
