.profile-icon-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .profile-icon-button svg {
    color: white;
    font-size: 18px;
  }

  .profile-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: whitesmoke;
}

.profile-dropdown {

    top: 100%; /* Adjust to appear below the icon */
    right: 0; /* Align to the right side */
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 100;
}
