/* Hero Section */
.hero {
  background-color: white !important; /* Ensure background color works */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  /* border-bottom: .1px solid #525252; */
}

/* Hero Container */
.hero-container {
  /* padding: 0 .2rem ; */
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  max-width: 1350px;
  /* border-top: .1px solid rgb(200,200,200); */
  /* border-right: .1px solid rgb(200,200,200); */
  /* border-bottom: .1px solid rgb(200,200,200); */
  border-left: .1px solid rgb(200, 200, 200);

}



/* Hero Title */
.hero-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
  border-top: .1px solid rgb(200, 200, 200) ;
  border-bottom: .1px solid rgb(200, 200, 200) ;
  /* background-color:  #3659c0 ; */
}

.hero-container .hero-title h1 {
  font-size: 35px;
  font-weight: 700;
  /* color:white; */
  color: #676767;
  text-transform: uppercase;
  margin: 0;
}

/* Hero Text */
.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: white;
  justify-content: center;
  height: 500px;
  padding: 1rem;
  /* border-bottom: .1px solid rgb(200,200,200); */
  /* border-right: 1px solid rgb(230, 230, 230) ; */
}

.hero-text p {
  font-size: 17px;
  font-weight: 399;
  line-height: 1.8;
  margin: 0 !important;
  padding: 0;
  color: #525252;
  /* color: #3659c0; */

}

/* Divider Between Paragraphs */
.divider {
  width: 100%;
  height: .1px;
  background-color: rgb(200, 200, 200) ;
  margin: 20px 0;
  padding: 0;
}




/* Vertical Divider */
/* .hero-container::before {
  content: '';
  width: 1px;
  background-color: #d9d9d9;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
} */
